<!doctype html>
<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" href="https://cdn.rawgit.com/barberboy/open-sans/2011-02-02/open-sans.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/solarized_dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<style>
    body {
        font: 16px/1.4 Open Sans, Helvetica Neue, Helvetica, sans-serif;
        font-family: 'Open Sans';
        max-width: 50em;
        margin: auto;
    }
    h1 {
        margin-top: 1.5em;
        border-bottom: 1px solid #ddd;
    }
    pre,
    code {
        background-color: #f3f3f3;
        padding: 2px;
    }
    pre {
        padding: 1em;
        overflow: auto;
    }
    a {
        color: #39d;
        text-decoration: none;
    }
</style>
<main role="main">
    {{{body}}}
</main>
